
.service_title{
    color:#c53464;  
}
.font_hover:hover{
    font-weight: 700;
    color: black;
}
.title_service{
    font-size: 80px;
    color:#0b0d94;
}
.title_service:hover{
    color: #c53464;
    text-shadow:0px 1px 0px #d1d2df;
}

