/* =========================================
                  Footer Style
============================================= */
.footer
{
    text-align: center;
    padding-bottom: 3px;
    background-color: #1E8FCF;
    padding-top: 3%;
}
/* ---------------Footer Paragrapg Color Style-----------------*/
.footer p{
    color: white;
}
/* ------------------Footer Icon Color Style------------*/
.icon-InstagramColor
{
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
   margin-top: 2px;
  
}
/* -------------------Footer logo Style-----------------*/
.img-logo{
   height: 100px;
   width: 100px;
   border-radius: 50%;
}

/* ================End Style============== */