/*====================================
Base style Of Header Section 
=====================================*/
header{ 
    display: flex;
    justify-content: space-around;
    background-color: #0b0d94 !important;
    line-height: 70px;
}
/*-----------------------Logo/img style-------------------*/
header>img{
    height: 70px;
    width: 75px;
    border-radius: 50%;
}
/*-----------------------Navigation style-----------------*/
nav{
    line-height: 70px;
}
nav>li{
    display: inline-block;
    margin-left: 14px;
}
nav>li>a{
    color: white !important;
    text-decoration: none !important;
    padding: 9px !important;
    cursor: pointer;
    border-radius: 5px;
}
nav>li>a:hover,.active{
    background-color: rgb(212, 93, 133) !important;
    
}
.call{
    font-size: 17px;
}
/*======================================================
             End Style of Header Section/Part
 ========================================================*/